@import '../../SCSS/config.scss';

.chart {
  margin-top: 20px;
  box-shadow: $box-shadow;
  border-radius: $border-radius-2;
  padding: 10px;
  color: gray; //?
  background-color: $color-white;

  .title {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }

  .chartGrid {
    stroke: lightgrey;
  }
}
