@import '../../SCSS/config';

.insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;

  h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
  }

  small {
    display: block;
    margin-top: 1.6rem;
  }

  svg {
    width: 7rem;
    height: 7rem;

    & circle {
      fill: none;
      stroke: $color-primary;
      stroke-width: 14;
      stroke-linecap: round;
      transform: translate(5px, 5px);
      stroke-dashoffset: 92;
    }
  }

  & > div {
    background: $color-white;
    padding: $card-padding;
    border-radius: $card-border-radius;
    margin-top: 1rem;
    box-shadow: $box-shadow;
    transition: all 300ms ease;

    &:hover {
      box-shadow: none;
    }

    span {
      background: $color-primary;
      padding: 0.5rem;
      border-radius: 50%;
      color: $color-white;
      font-size: 2rem;
    }

    &.expenses span {
      background: $color-danger;
    }

    &.income span {
      background: $color-success;
    }

    & .middle {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  & .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;

    & .number {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
  }

  & .expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
  }

  & .income svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
  }
}

@media screen and (max-width: 1200px) {
  .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }
}