@import '../../SCSS/config.scss';

.single {
  & .singleContainer {
    width: 100%;

    & .top {
      padding: 20px;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      gap: 20px;

      & .left {
        background: $color-white;
        position: relative;
        flex: 1;
        padding: 20px;
        box-shadow: $box-shadow;
        border-radius: $border-radius-2;

        &:hover {
          box-shadow: none;
        }

        & .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          font-size: 12px;
          color: #7451f8;
          background-color: #7551f818;
          cursor: pointer;
          border-radius: 0 0 0 5px;
        }

        .item {
          margin-top: 15px;
          display: flex;
          gap: 20px;

          .itemImg {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            .itemTitle {
              margin-bottom: 10px;
              color: gray;
            }

            .detailItem {
              margin-bottom: 10px;
              font-size: 14px;

              .itemKey {
                font-weight: bold;
                color: gray;
                margin-right: 5px;
              }

              .itemValue {
                font-weight: 300;
              }
            }
          }
        }
      }

      & .right {
        flex: 2;
        height: 100%;

        & .chart {
          margin-top: 0;

          &:hover {
            box-shadow: none;
          }
        }
      }
    }

    & .bottom {
      padding: 20px;
      margin: 20px;
      box-shadow: $box-shadow;
      background: $color-white;
      border-radius: $border-radius-2;

      &:hover {
        box-shadow: none;
      }

      & .title {
        font-size: 16px;
        color: gray;
        margin: 10px;
      }

      & .description {
        font-size: 14px;
        color: gray;
        margin: 10px;
      }
    }
  }
}
