@import '../../SCSS/_config';

.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;

  .top {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      max-height: 50px;
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
    }
  }

  .center {
    padding-left: 10px;
    ul {
      .title {
        font: size 10px;
        font-weight: bold;
        color: $color-grey;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background: $color-grey-light;
        }

        .icon {
          font-size: 18px;
          color: #7451f8;
        }

        span {
          font-size: 13px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOptions {
      margin: 5px;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;

      &:nth-child(1) {
        background-color: whitesmoke;
      }

      &:nth-child(2) {
        background-color: black;
      }
    }
  }
}
